
/* <<<<<<<<<<<<<<<<<<< GENERALITIES >>>>>>>>>>>>>>>>>>> */
.green {
    color: green;
}
html, body {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

.ie8, .ie8 body, .ie8 .wrapper, .ie8 .topLine, .ie8 #panel,
.ie8 #header, .ie8 #header-inner {
	min-width: 980px;
}

body {
background-color:#FFF;
color: #4d4d4d;
/* overflow:auto; */
}
* {font-family: "Gotham A", "Gotham B", sans-serif;}
/* force setting to be inherited by child divs and paras */


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

img,
embed,
object,
video {
  max-width: 100%;
  display:block;
  width:auto;
}

p, h1, h2, h3 h4 h5 {
    color:#4d4d4d;
}

h1 {
	font-size: 2.6em;
    line-height: 1.1;
    font-weight: 300;
    margin: 0 0 .6em 0;
}

h2 {
	font-size: 2.2em;
    line-height: 1.1;
    font-weight: 300;
    margin: 0 0 .8em 0;
}

h3 {
	font-size: 1.4em;
    line-height: 1.3;
    font-weight: bold;
    margin: 0 0 .6em 0;
    color: #4d4d4d;

}
h4 {
	font-size: 1.2em;
    line-height: 1.1;
    font-weight: 300;
    margin: 0 0 .6em 0;

}
h5 {
	font-size: 1.2em;
    line-height: 1.1;
    color:#4d4d4d;
	margin: 0 0 .6em 0;
}
* li {list-style:none;}
* ul li br{display:none;}

strong, .strong {
	font-weight: bold;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 14px;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}
small {
    font-size: 75%;
}

cite {
	border-bottom: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

address {
	font-style: italic;
	margin: 0 0 24px;
}

del {
	color: #333;
}

ins {
	background: #fff9c0;
	border: none;
	color: #333;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

p {padding-bottom:.7em;}


hr {
	clear: both;
    border: none;
	border-bottom: 8px solid #f3f3f3;
	margin: 1em 0;
}

.bodyTop {
   margin: 0 0 1.5em 0;
}
.blank {
    clear:both;
    margin:0;
    padding:0;
    border:0;
    background-color: transparent;
}

.greyBar {
	background-color:#f3f3f3;
	width:100%;
	height:8px;
	margin: 18px 0 18px 0;
}

/* <<<<<<<<<<<<<<<<<<< ALIGNMENT & MARGINS >>>>>>>>>>>>>>>>>>> */

.alignleft {
	float: left;
    display: inline;
	margin: 5px 20px 5px 0;
}

.alignright {
	float: right;
    display: inline;
	margin: 0px 0 5px 20px;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}
img.smartfill {
  width: 100%;
}

.top10 { margin-top: 10px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 2em; }
.top40 { margin-top: 40px; }
.top70 { margin-top: 70px; }
.btm10 { margin-bottom: 10px; }
.upper { text-transform: uppercase; }

.readLink {
	color:#008575;
    text-transform: uppercase;
	font-weight: bold;
	display:inline-block;
}

.color1 { color:#d31145;}
.color2 { color:#2aa097;}
.color3 { color: #53312c;}

.tealBG { background-color:#64c7c5;}
.drktealBG { background-color:#56aba9}
.orangeBG { background-color:#f7a437}
.drkorangeBG { background-color:#d48d2f}
.blueBG { background-color:#2ba8c4;}
.drkblueBG { background-color:#2590a8;}
.greenBG { background-color:#8fb340;}
.drkgreenBG { background-color:#7b9a37;}
.drkredBG { background-color:#d31145;}

.colImage {
	max-width:378px;
	margin: 0 auto;
}

.logoColorBar {
	background-color:#d31145;
	height:15px;
	width:100%:
}

* .btnLabel {
	display:table;
	height:100%;
	width:100%;
	padding:0;
}

.btnLabel p, .btnLabel h1,  .btnLabel h2,  .btnLabel h3{
	font-size:1.1em;
	width:auto;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	padding-bottom:0;
}

.red {
    color: #d31145;
}

.whiteBG {
	background:#FFFFFF;
}

.whiteText, .whiteText a, .whiteText a:visited{
	color:#FFFFFF;
}

ul li {list-style:none;}

#post- ul li, #post- ol li, .careerPost ol li, .careerPost ul li {list-style: disc;margin-left:1em;padding-bottom:0.5em;}
.aboutContent ul li {list-style:  disc;margin-left:1em;color:#d31145;}

.careerPost ol li, .careerPost ul li {
color: #505050;
}

a, a:link, a:active, a:visited {
	color: #d31145;
	text-decoration: none;
}

a.large {
	font-size: 16px;
}

a.button:hover {
	text-decoration: none;
}

.postWrapper{
	min-height:300px;
}

.hidden {
	display: none;
}

 .small {
     margin: 0;
     padding: 0;
     font-weight: 700;
     font-size: 85%;
}
/* <<<<<<<<<<<<<<<<<<< STICKY FOOTER >>>>>>>>>>>>>>>>>>> */
* {
	margin: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -240px;
}
#footerMain, .push {
	height: 240px;
}


/* <<<<<<<<<<<<<<<<<<< SLIDER >>>>>>>>>>>>>>>>>>> */

.TEST {
    color: red;!important;
}
.slider{
	height:auto;
	overflow:hidden;
}

.overlay{
	position:absolute;
	width:100%;
}

.slideHeadline{
	position:relative;
	top:1.8em;
	left:6%;
    font-weight: bold;
	color:#d31145;
}
.slideText {
	position:relative;
	top:5.0em;
	left:6%;
    width: 46%;
  	font-size: 100%;
	color:#333;!important;
}
.slideButton {
	position:relative;
	top:6.2em;
	left:6%;
    width: 48%;
  	font-size: 120%;
    padding: 12px 16px;
}

.navSlider{
	padding-right:15px;
	position:relative;
	width:auto;
	bottom: 20px;
	margin-top:-31px;
}
.navButton a {
	margin:8px;
	float:left;
	height:15px;
	width:15px;
	background-color:#FFFFFF;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  /* IE 5-7 */
  filter: alpha(opacity=30);
  /* Netscape */
  -moz-opacity: 0.3;
  /* Safari 1.x */
  -khtml-opacity: 0.3;
  /* Good browsers */
  opacity: 0.3;
}
.navButton a:hover {
 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8;
}
.navButton.active a {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1.0;
  /* Safari 1.x */
  -khtml-opacity: 1.0;
  /* Good browsers */
  opacity: 1.0;
}
.sliderMain{
	width:100%;
/* 	height:auto; */
	overflow: hidden;
	z-index:0;
	position:relative;
}
.sliderMain img {
	width:100%;
	height: auto;
/* 	display:block; */
}

/* <<<<<<<<<<<<<<<<<<< HEADER >>>>>>>>>>>>>>>>>>> */
.logoBlock {
    display: block;
	float: left;
    min-height:50px;
    padding-top: 8em;
	width:34%;
	background-image: url('images/rbh_logo.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index:3000;
    cursor: hand;
}
.logoBlockIE8 {
    display: block;
	position: absolute;
    left: 0;
    top: 50px;
	z-index:1000;
}

.topLine {
	width:100%;
	height:10px;
	background-color: #d31145;
}

.noBtn:hover{
	display:none;
}
.homepageColImage  {
	display: inline-block;
	vertical-align: middle;
	width:100%;
	margin-bottom:.7em;

}
.homepageColImage a{
	margin:0 auto;
	vertical-align: middle;
	max-height:4em;
}

.homepageColImage img {

}
/* <<<<<<<<<<<<<<<<<<< NAVIGATION >>>>>>>>>>>>>>>>>>> */

ul.nav-menu,
div.nav-menu > ul {
	margin: 1.5em 0 0 0;
	padding: 0;
    float: right;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	color: #4d4d4d;
	display: block;
	font-size: .88em;
	line-height: 1;
	padding: 4px 15px 8px 10px;
	text-decoration: none;
    text-transform: uppercase;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
    color: #c02e1b
}

.nav-menu .sub-menu,
.nav-menu .children {
	background-color: #fff;
	border-top: 0;
	padding: 0;
	position: absolute;

	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #4d4d4d;
    line-height: 1.2;
	margin: 0;
	width: 260px;
    text-transform: none;;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
	color: #d31145;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    color: #c02e1b;
}

.menu-toggle {
	display: none;
}

.indent {
    padding-left: .8em;
}


/* <<<<<<<<<<<<<<<<<<< OPACITY and MOBILE >>>>>>>>>>>>>>>>>>>


.opacity10 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  /* IE 5-7 */
  filter: alpha(opacity=10);
  /* Netscape */
  -moz-opacity: 0.1;
  /* Safari 1.x */
  -khtml-opacity: 0.1;
  /* Good browsers */
  opacity: 0.1;
}

.opacity90 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
}

.mobileOnly {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/* <<<<<<<<<<<<<<<<<<< FLEXSLIDER >>>>>>>>>>>>>>>>>>>
    This overrides the css in wp-includes/js/flexslider/
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('/wp-includes/js/flexslider/fonts/flexslider-icon.eot');
	src:url('/wp-includes/js/flexslider/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('/wp-includes/js/flexslider/fonts/flexslider-icon.woff') format('woff'),
		url('/wp-includes/js/flexslider/fonts/flexslider-icon.ttf') format('truetype'),
		url('/wp-includes/js/flexslider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li { display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    display: inline-block;
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 20px; background: #fff; border: 4px solid #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 0px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 0px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}



/* <<<<<<<<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>>>>>>> */

.footerBottom {
	background-color:#d31145;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: fit;
	height:550px;
	position:relative;
	z-index:100;
}

.footerColSection a, .legalLinks {
    font-size: 95%;
}
.copyrights p {
    font-size: 85%;
}
.footerSectionLink {
    font-weight: bold;
    font-size: 115% !important;
}

.footerColSection ul > li {
   padding-left: 6px ;
  text-indent: -6px ;
}

.mobileFooterWidth{
height:9.2em;
}


.socialRow {
	float: right;
	width: 206px;
}

.socialRow a {
	float: left;
	display: block;
	width: 44px;
	height: 44px;
	text-indent: -9999em;
	background-repeat: no-repeat;
	margin-right: 10px;
}

.socialRow a.fbBtn {
	background-image: url('images/social_icon_round_facebook.png');
}

.socialRow a.tweetBtn {
	background-image: url('images/social_icon_round_twitter.png');
}

.socialRow a.linkedInBtn {
	background-image: url('images/social_icon_round_linkedin.png');
}

.socialRow a.rssBtn {
	background-image: url('images/social_icon_round_rss.png');
	margin-right: 0;
}

.whiteLine{
	width:2px;
	height:100%;
	background-color:#FFFFFF;
	float: right;
	display:inline-block;
	position:relative;
	margin-top:0.4em;
}
.legalLinks {
    display:inline-block;
    float: left;
    width:50%;
    padding:0;
    margin:0;
}

.legalLink{
	/* float:left; */
	display:inline-block;
	margin-left: 3%;
	color:#FFFFFF;
	font-size: 1em;
	position:relative;
	float:left;
}
.footerLink{ color:#FFFFFF;}
.footerLink:visited{ color:#FFFFFF;}
.footerLink:hover{ color:#F5F5F5;}

.footerCol {
	padding-left:3%;
	margin-top: 60px;
}

.footerSectionLink {
	font-size:1.4em;
}

#TrusteHolder {
    width:45%;
    float:left;
    display:block;
}

/* <<<<<<<<<<<<<<<<<<< CONTACT BAR >>>>>>>>>>>>>>>>>>> */


input[type=text], input[type=email]{
	width:100%;
	height:3em;
	background-color:#FFFFFF;
	margin: 0 0 1.5em 0;
	margin: 0 0 0 0\9; /* IE8 and below */
	padding: 0 0.5em 0 0.5em;
	position:relative;
}
.textBox {
	display:block;
}

.textBox textarea {
	overflow-y: auto;
	width:100%;
	height:16.5em;
	overflow:none;
	resize: none;
    padding-top:0.5em;
}

.textBox p {
	color:#8F8F8F;
	padding: 10px 0 0 8px;
}
.contactFormCol{
	padding:10px 10px 10px;
	height: 100%;
}

.contactFormCol p {
	font-size:1em;
	color:#FFFFFF;
	padding-bottom:0;
}

.contactBoxBtn {
	width:100%;
	height:2em;
	display:block;
	position:relative;
	margin: 10px 0 10px 0;
	overflow:hidden;
	background-color:#64c7c5;
}

.contactBoxBtn input[type=submit] {
	text-indent: -99999px;
	cursor:pointer;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	background-color:transparent;
}

.contactBoxBtn .centerText{
display: table;
	width:auto;
	padding-left:20px;
	height:2em;
	position:relative;
}

.contactBoxBtn .centerText p{
display: table-cell;
	vertical-align: middle;
	color:#FFFFFF;
	font-size:1em;
	text-align:left;
		-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}
.contactBoxBtn .btnTab{
	height:2em;
	width:2em;
	right:0;
	top:0;
	position:absolute;
	display:block;
	padding:0;
	background-image: url('images/right_arrow.png');
	background-position: center center;
	background-repeat: no-repeat;
}
.working {
	background-image: url('images/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	width:100%;
	height:3em;
	display:inline-block;
	text-align:center;
	position:relative;
	margin: 0 auto;
	background-color:#ebebeb;
	content:"sending …";
}
.workingPopup {
	background-image: url('images/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	display:inline-block;
	text-align:center;
	position:relative;
	margin: 0 auto;
	background-color:#ebebeb;
	content:"sending …";
    overflow:auto;
}
.error{
	padding: 0.2em 0.5em;
	width:100%;
	height:100%;
	font-size:0.85em;
	border: 1px solid red;
	color: #6f1414;
	background-color:red;
	display:inline-block;
	text-align:center;
	position:relative;
	margin: 0 auto;
}

.success{
	padding: 0.2em 0.5em;
	width:100%;
	height:100%;
	border: 1px solid green;
	color: #FFFFFF;
	background-color:#8fb340;
	display:block;
	text-align:center;
	margin: 0 auto;
	position:relative;
}
.errorPopup{
	padding: 0.2em 0.5em;
	width:100%;
	height:100%;
	font-size:1.2em;
	border: 1px solid red;
	color: #FFFFFF;
/* 	border-radius: 3px; */
	background-color:red;
	display:inline-block;
	text-align:center;
	position:relative;
	margin: 0 auto;
}

.successPopup{
	padding: 0.2em 0.5em;
	width:100%;
	height:100%;
	border: 1px solid green;
	color: #FFFFFF;
	background-color:#8fb340;
	display:block;
	text-align:center;
	margin: 0 auto;
	position:relative;
}
.success p, .error p, .successPopup p, .errorPopup p{
	color: #FFFFFF;
	padding-bottom:0;
}

/* <<<<<<<<<<<<<<<<<<< SOCIAL BUTTONS >>>>>>>>>>>>>>>>>>> */
.socialTagline {
	clear: both;

	float:left;
}
.socialTagline .btnLabel {
	font-size:0.7em;
	float:left;
}
.socialTagline .btnLabel a{
	color:#0e8676;
}

.socialButtons .socialBtn{
	background-color:#0e8676;
	width:2.2em;
	height:2.2em;
	display:block;
	position:relative;
	float: left;
    padding-bottom: 10px;
	margin: 0 0.5em;
}
.socialButtons .socialBtn:hover {
	background-color:#12c1aa;
}
.socialTagline .btnLabel a:hover{
	color:#12c1aa;
}
.socialButtons .fbBtn{
	background-image: url('images/fb_icon_small.png');
	background-position:right bottom;
	background-repeat: no-repeat;
}
.socialButtons  .twitterBtn{
	background-image: url('images/twitter_icon_small.png');
	background-position:center center;
	background-repeat: no-repeat;
}
.socialButtons  .LinkedInBtn{
	background-image: url('images/linkedIn_icon.png');
	background-position:center center;
	background-repeat: no-repeat;
}


/* <<<<<<<<<<<<<<<<<<< SIDEBAR NAV >>>>>>>>>>>>>>>>>>> */
.sideBarNav ul li {
	font-size: 1.3em;
    font-weight: 300;
	color:#505050;
	margin-bottom:0.4em;
    padding:.95em 1em .95em 1.2em;
	background-color:#f3f3f3;
}
.sideBarNav ul li.active, .sideBarNav ul li:hover.active {
	background-color:#d31145;
}
.sideBarNav ul li.active p {
	color:#FFFFFF;
}

.sideBarNav ul li:hover {
	background-color:#b2b1b1;
}
.sideBarNav ul li:hover p {
	color:#FFFFFF;
}

.sideBarNav ul li p {
	padding:0;
}
.aboutTitle {
    color: #d31145;
    font-weight: normal;
  font-size: 2.8em;
  line-height: 1.1em;
  display: inline-block;
}
.aboutImageHolder {
    margin-bottom: 10px;
}

/* <<<<<<<<<<<<<<<<<<< SOLUTIONS >>>>>>>>>>>>>>>>>>> */
.solutionThumb {
	width:100%;
	height: 20em;
	overflow:hidden;
	border: solid #bebebe 2px;
	margin:1em auto;
	position: relative;
	text-align: center;
}

.solutionThumb .imageThumbBox {
	width:100%;
	height:auto;
	left:0;
	top:0;
	position:absolute;
	z-index:0;
}
.solutionThumb .imageThumbBox img{
	width:100%;
	height:auto;
	position: absolute;
	display: block;
}

.imageZoomOverlay {
	background:transparent;
	width:100%;
	height:100%;
	background-image: url('images/img_magnify_icon.png');
	background-position:bottom right;
	background-repeat: no-repeat;
	position:  relative;
	z-index:50;
}

.callout {
    border-left: 8px solid #bebebe;
}

.callout h1{
	color:#d31145;
	font-size:1.72em;
	padding: .5em 1em;
}
.prevBtn {
	height:100%;
	width:5%;
	background-color:#FFFFFF;
	display:block;
	float:left;
	position:relative;
	background-image: url('images/carousel_left_arrow.png');
	background-position:center center;
	background-repeat: no-repeat;
	border:none;
}

.nextBtn {
	height:100%;
	width:5%;
	background-color:#FFFFFF;
	display:block;
	float:left;
	position:relative;
	background-image: url('images/carousel_right_arrow.png');
	background-position:center center;
	background-repeat: no-repeat;
	border:none;
}

.solutionsContent {
	display: table;
	height:auto;
	width:auto;
	margin:0 auto;
	text-align:center;
	width:65%;
}

.solutionsHeadline h1 {
	color:#d31145;
	padding-bottom: 0;
}

.solutionsHeadline p{
	padding-bottom: 0;
}

.rightBoxContents{
	position:absolute;
	padding: 1em 1em 1em 1em;
	float:right;
	height:15em;
	display:inline-block;
}

.productBox .rightBoxContents{
	margin-left:12em\9; /* IE8 and below */
	left:-2em\9; /* IE8 and below */
}

.plansBox .rightBoxContents  {
	margin-left:15em\9; /* IE8 and below */
	left:0em\9; /* IE8 and below */
}

.rightBoxContents h3{
	color:#d31145;
}
.employersBox, .plansBox, .healthPlansBox {
	background-color:#f3f3f3;
	position:relative;
	height:15em;
	margin:0.5em auto;
	display:block;
}

.healthPlansBox .rightBoxContents, .employersBox .rightBoxContents  {
	position:absolute;
	padding: 1em 1em 1em 1em;
	float:right;
	height:15em;
}


.healthPlansBox .rightBoxContents .centerText, .employersBox .rightBoxContents .centerText {
	display: table;
	height:5em;
	width:auto;
	margin-left: 0px;
	text-align:left;
}

.healthPlansBox .rightBoxContents .centerText p, .employersBox .rightBoxContents .centerText p{
	width:auto;
	display: table-cell;
	vertical-align: middle;
	font-size: 1.5em;
	padding: 0.5em 0 0 1em;
}

.rightBoxContents .centerText p {
    padding-bottom:0;
}
.employersBox ,  .plansBox .description p, .healthPlansBox .description p{
	height:7.0em;
	overflow:hidden;
	padding-bottom:0;
}

.healthPlansBox .rightBoxContents .centerText p{
	color:#8fb340;
}

.employersBox .rightBoxContents .centerText p{
	color:#2ba8c4;
}

.titleBoxSmall {
	background-color:#f3f3f3;
	position:relative;
	height:7em;
    margin-bottom: 1.5em;
}
.productBox {
	background-color:#FFFFFF;
	position:relative;
	height:10em;
	margin:2em 0 0 2.5em;
	display:block;
	box-sizing: border-box;
}

.productBox  .rightBoxContents{
	position:absolute;
	padding: 1em 1em 1em 1em;
	float:right;
	height:10em;
	max-width:auto;
	overflow:hidden;
	display:inline-block;
}
.productBox .rightBoxContents h3{
	color:#d31145;
}
.productBox .rightBoxContents p{
	height:3.7em;
	line-hieght:1em;
	overflow:hidden;
}
.LinkBox{
	background-color:#f3f3f3;
	position:relative;
	height:5em;
	margin:0 0 0.5em 0;
	display:block;
	box-sizing: border-box;
}

.LinkBox.active {
	background-color:#d31145;
	color:#FFF;
}

.LinkBox.active  .rightBoxContents .centerText p {
color:#FFF;

}

.LinkBox  .rightBoxContents{
	position:absolute;
	padding: 0;
	float:right;
	margin-left:1em;
	height:5em;
}


.LinkBox .rightBoxContents .centerText {
	display: table;
	height:5em;
	width:auto;
	margin-left: 0px;
	text-align:left;
}
.LinkBox .rightBoxContents .centerText p{
	color:#d31145;
	font-size:1.2em;
    font-weight: normal;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em 0 0 0;
}

.productBox #productIconBig {
	background-color:#bababa;
	width:10em;
	height:10em;
	background-image: url('images/product_icon_med.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
}

.productBox #productIconMed{
 display:none;
}

.productBox #productIconSmall{
display:none;
}

a:hover .productBox #productIconBig, a:hover .LinkBox #productIconSmall {
    background-color:#d31145;
    transition:0.3s;
}

/* BEGIN PRODUCT BOX SOLUTIONS PAGE */

#productBoxList .productBox {
	height: auto;
	overflow: hidden;
}

#productBoxList .productBox .rightBoxContents p {
	height: auto;
}


#productBoxList .productBox .rightBoxContents {
	height: auto;
	overflow: visible;
	position: relative;
	left: 0;
	margin-left: 0;
	float: left;
	width: 100%;
	padding: 0;
}

#productBoxList .productBox .rightBoxContents .rightBoxContentsInner {
	margin-left: 10em;
	padding: 1em;
}

#productBoxList #productIconBig, #productBoxList #productIconMed {
	float: left;
	margin-left: -100%;
}

/* END PRODUCT BOX SOLUTIONS PAGE */


.marketsolution h3 {
    display: block;
    padding: 1.7em 0 0 .5em;
    vertical-align: middle;

}
.marketsolution p {
    clear: both;
}

#productIconMed {
	background-color:#bababa;
	width:7em;
	height:7em;
	background-image: url('images/product_icon_med.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
}

#productIconSmall{
	background-color:#bababa;
	width:5em;
	height:5em;
	background-image: url('images/product_icon_small.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
}

#empoyersIconSmall{
	background-color:#2ba8c4;
	width:7em;
	height:7em;
	background-image: url('images/employer_icon_small.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
    margin: 0 15px 10px 0px;
}

#healthplanIconSmall {
	background-color:#8fb340;
	width:7em;
	height:7em;
	background-image: url('images/healthplan_icon_small.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
    margin: 0 15px 10px 0px;

}

#healthsystemIconSmall {
	background-color:#f17a40 ;
	width:7em;
	height:7em;
	background-image: url('images/healthsystem_icon_small.png');
	background-position:center center;
	background-repeat: no-repeat;
	float:left;
	position:relative;
    margin: 0 15px 10px 0px;
}

.descriptionBox{
	background-color:#e8e8e8;
	display:block;
	position:relative;
	width:100%;
	float:left;
	padding:1em;
}

.MoreBtn {
	width:55%;
	height:2.5em;
	display:inline-block;
	position:relative;
	min-width:15em;
	bottom:0;
}
.MoreBtnfull{
	width:100%;
	height:2.5em;
	display:block;
	position:relative;
	float:left;
}
.centerBtn{
	width:100%;
	height:2.5em;
	display:block;
    padding-top: 10px;
    text-align: center;
}
.MoreBtn p, .MoreBtnfull p{
	font-size:1.06em;
	text-align:left;
	padding-left:1.5em;
	color:#FFFFFF;
}
.MoreBtn .btnTab, .MoreBtnfull .btnTab{
	height:100%;
	width:2.5em;
	right:0;
	top:0;
	position:absolute;
	display:block;
	padding:0;
	background-image: url('images/right_arrow.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.MoreBtn .centerText, .MoreBtnfull .centerText  {
	display: table;
	height:2.5em;
	width:auto;
	margin-left: 0px;
	text-align:left;
}

.MoreBtn .centerText p, .MoreBtnfull .centerText p{
	font-size:1em;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color:#FFFFFF;
	padding-bottom:0;
}

.titleBoxSmall .centerText {
	display: table;
	height:8em;
	width:auto;
	margin-left: 2em;
	text-align:left;
}

.titleBoxSmall .centerText h1{
	font-size:3em;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	text-align: left;

}
.titleBoxSmall .rightBoxContents {
	position:absolute;
	padding: 0;
	float:right;
	height:7em;
}

.contactBtnBig{
	background-color: #d31145;
	width:45%;
	height:3.5em;
	display:block;
	position:relative;
	margin:0 auto;
}
.contactBtnBig .centerText {
	display: table;
	height:3.5em;
	width:auto;
	margin-left: 1.5em;
	text-align:left;

}
.contactBtnBig .centerText p{
	font-size:1em;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color:#FFFFFF;
}
.contactBtnBig .centerText br {
	display:none;
}
.contactBtnBig .btnTab{
	height:100%;
	width:3.5em;
	right:0;
	top:0;
	position:absolute;
	display:block;
	padding:0;
	background-image: url('images/plus_icon.png');
	background-position: center center;
	background-repeat: no-repeat;
}

.imageCaption {
	padding: 1em 0 0 0;
	text-align:center;
}

.post img .alignleft{
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}

#sidebar{
	margin: 0 0 3em 1em;
}
.widget ul {
	background-color:#bababa;
}

.widget_recent_entries ul {
	color: #d31145;
	height: auto;
	padding:1em 0 1em 1em;
	background-color:#f3f3f3;
}
.widget_recent_entries ul li {
	padding-top:0.5em;
}
.widget_categories ul li {
	background-color:#FFFFFF;
	padding:0.3em 0.3em 0 0;
	list-style:square;
	background-color:#f3f3f3;
}
.widget_categories ul{
	color: #d31145;
	overflow-y:scroll;
	height: 10em;
	padding:1em 0 1em 1em;
	background-color:#f3f3f3;
}

#sidebar .widget_categories ul {
	overflow-y: auto;
	height: auto;
}

.widget_categories ul.children {
	overflow:hidden;
	background-color:#f3f3f3;
	padding-left:0.5em;
	height:auto;
	padding:0 0 0 1em;
}
.widget_archive ul {
	color: #d31145;
	overflow-y:scroll;
	height: 10em;
	background-color:#f3f3f3;
	padding:1em 0 1em 1em;
}
.widget_archive, .widget_categories, .widget_recent_entries {
	padding:0.75em;
	background-color:#f3f3f3;
	margin-top:1em;
	text-align:left;
}

.sideBarButton {
	height:4em;
	width:100%;
	margin:.8em 0 0 0;
	background-color:#f3f3f3;
	display:block;
	position:relative;
}

.sideBarButton:hover {
	background-color:#f3f3f3;
	color: #d31145;
}
.sideBarButton .centerText {
	display: table;
	height:4em;
	width:auto;
	margin-left: 0px;
	text-align:left;

}


.sideBarButton .centerText p{
	font-size:1.313em;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color: #d31145;
	padding-left: 1em;
	padding-bottom:0;

}

.blogMetaRow {
	height:2.5em;
	width:100%;
	display:block;
	position:relative;
    clear: both;
}

.blogPostDate{
	color: #4d4d4d;
	float:left;
}

.blogPostDate .centerText, .blogPostCats .centerText, .newsPostCats .centerText  {
	display: table;
	width:100%;
	margin-left: 0px;
	text-align:left;
}

.blogPostCats  .centerText p, .newsPostCats  .centerText p{
	font-size:0.9em;
	width:auto;
	display: table-cell;
	vertical-align: middle;
	width:100%;
}
.blogPostCats  .centerText p{
	color: #bababa;
	text-align:right;
}

.blogPostCats, .newsPostCats  {
	height:3em;
	display:block;
    float: right;

}
.newsPostCats  .centerText p{
	color: #d31145;
}

.lightGreyBG {
    background-color: #f3f3f3;
}

.announcement {
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 10px;
}

.navigation{
	width:auto;
	display:block;
	position:relative;
	clear: both;
    margin-bottom: 50px;
}

.backnext a {
	display:inline-block;
  font-size: 1.2em;
	background-color:#d31145;
	margin:0.2em;
	text-align:center;
	padding: .5em 1em;
	color:#FFFFFF;
}

#commentform input[type=submit] {
padding:1em;
background-color:#d31145;
color:#FFF;
}

#BFW input[type=submit] {
padding:1em;
background-color:#d31145;
color:#FFF;
width:100%;
-webkit-appearance: none;
}

#bfw-2 {
background-color:#f3f3f3;
margin-top:1em;
padding:0.5em;

}

input[type="submit"]{
	border: none;
	font-size:1em;
	margin:0 auto;
	padding:0;

}

.searchBox input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
	font-size:1em;
	margin:0 auto;
	padding:4px;
	width:100%;
	height:2.5em;
	background-color:#FFFFFF;
	display:inline-block;
	float:none;
	border: none;
}

.searchBox{

}
 .searchIcon {
	width:2.5em;
	height:2.5em;
	background-color:#591f00;
	background-image: url('images/search_icon.png');
	background-position: center center;
	background-repeat: no-repeat;
	position:absolute;
	right:0;
	bottom:0;
	z-index:0;
	display:inline-block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

/* calendar widget */
.widget_calendar {margin:2em;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 1em; margin-top: 1em; margin-bottom: 1em; }
#wp-calendar thead { font-size: 1em; }
#wp-calendar thead th { padding-bottom: 0.5em; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:0.5em;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 1em; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 1em; text-transform: uppercase; padding-top: 1em; }


/* <<<<<<<<<<<<<<<<<<<<<<<<< CAREERS >>>>>>>>>>>>>>>>>>>>*/

.careerPosts {
	display:block;
	position:relative;
	width:100%;
	height:auto;
	text-align:left;
}

.careerPost .careerLink {
	display:inline-block;
	height:3em;
	width:100%;
	/* margin-left:25%; */
	color:#d31145;
	background-color:#f3f3f3;
	padding:1em;
	text-align:left;
	position:relative;
	margin:0.5em 0 0 0;
}

.careerLink {
	display:inline-block;
	min-height:3em;
	width:100%;
	/* margin-left:25%; */
	color:#d31145;
	background-color:#f3f3f3;
	padding:1em;
	text-align:left;
	position:relative;
	margin:0.5em 0 0 0;
}

.careerLink a{
	color:#d31145;
}
.careerLink:hover{
	background-color:#d31145;
	color:#FFFFFF;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<< CASE STUDIES >>>>>>>>>>>>>>>>>>>>*/

.caseStudyTitle {
	display:block;
	width:100%;
	padding:0.75em 1em 0.5em 1em;
	font-size:2.3em;
	background-color:#badbed;
	color:#3f3f3f;
}

.caseStudyContent {
	display:inline-block;
	background-color:#f3f3f3;
	padding:2em;
	position:relative;
	overflow: auto
}

.caseStudyText{
	display:inline-block;
	left:0;
	top:0;
	width:70%;
	position:relative;
	float:left;
}
.caseStudyText p {
	margin-top: .7em;
}

.caseStudyImg{
	display:inline-block;
	right:0;
	top:0;
	position:relative;
	padding:1em;
	max-width:30%;
}

.caseStudyBtn {
	width:auto;
	margin-right:1.5em;
	display:inline-block;
	float:left;
	overflow:visible;
}
.resultsContent {
    padding-left:1em;
}
.resultsContent h1, .resultsContent h2, .resultsContent h3{
	color:#d31145;
}
.statText p{
    color:#53312c;
    font-size:1.5em;
    line-height:1.15em;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< NEWS & PRESS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.newsCatBtnHolder {
	display:inline-block;
	width:auto;
	float: left;
	margin: 0;
}

.newsCatBtn {
	width:auto;
    padding: 0;
	background-color:#FFF;
	display:inline-block;
	float:left;
}

.newsCatBtn.active .centerText p{
	color: #4d4d4d;
}

.newsCatBtn .centerText {
	width:auto;
	text-align: center;
}
.newsCatBtn  .centerText p {
	width:auto;
	text-align: center;
	color: #d31145;
	padding: .2em 1em .2em 0;
}

.eventDateHolder  .centerText h3{
	width:auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 1em 0 1em;
	color:#FFF;
}

.eventDateHolder  .centerText {
    display: table;
	height:4em;
	width:auto;
	text-align: center;
}
.eventDateHolder {
	background-color:#d31145;
	height:4em;
}

.tagsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
    background-size: 100% 100%;
}

.white_content {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	color:#FFF;
	z-index:3000;
	overflow: auto;
	top:0;
	left:0;
}

.white_content img {
	z-index: 3000;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:auto;
	margin: 0 auto;
}

.white_content a p {
	color:#FFF;
	z-index:4000;
	position:relative;
	top:0;
	left:0;
	width:80%;
	padding: 2em;
	margin: 0 10% 0 10%;
}
.white_content a {color:#FFF;z-index:1000;}

.productTitle h2 {
	color:#d31145;
	font-size:2.5em;
}

.columnHeadlineCenter{
	color:#d31145;
    font-weight: bold;
	font-size:1.4em;
	text-align:center;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SOLUTIONS CATEGORIES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.solutions-category p {
	padding-bottom: 1.2em;
}

.solutions-category .video-with-caption {

}

.solutions-category .video-with-caption .vwc-video {
	float: left;
	width: 67%;
	margin-right: 2%;
}

.solutions-category .video-with-caption .vwc-caption {
	float: left;
	width: 30%;
	font-size: 0.8em;
}

.solutions-category .feature {
	background-color: #e6e4df;
	padding: 1.5em 1em 0 2em;
}

.solutions-category .feature .ftos-a {
	display: inline-block;
	width: 40%;
	margin-right: 5%;
	padding-bottom: 8px;
}

.solutions-category .feature .ftos-b {
	display: inline-block;
	width: 54%;
	margin-bottom: -50px;
}

.solutions-category .three-col-1 {
	width: 31%;
	float: left;
	margin-right: 2%;
	text-align: center;
}

.solutions-category .three-col-1.last {
	margin-right: 0;
}

.solutions-category .cta-button {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.solutions-category .video-with-caption .vwc-video,
	.solutions-category .video-with-caption .vwc-caption {
		float: none;
		width: auto;
	}

	.solutions-category .video-with-caption .vwc-video {
		margin-bottom: 0.8em;
	}

	.solutions-category .feature {
		padding: 1.5em 1em 0;
	}

	.solutions-category .feature .ftos-a {
		display: block;
		width: auto;
		margin-right: 0;
		margin-bottom: 1em;
		padding-bottom: 0;
	}

	.solutions-category .feature .ftos-b {
		display: block;
		width: auto;
		margin-bottom: 0;
	}

	.solutions-category .three-col-1 {
		width: 100%;
		float: none;
		margin-right: 0;
		text-align: left;
	}
}

/* IE8 Specific fixes */

/***************************************************************************************/
/* NEW TEMPLATE */
/***************************************************************************************/

body, html {
	color: #4d4d4d;
	font-size: 1em;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
  line-height: 1.3;
}

h1.stacked, h2.stacked, h3.stacked, h4.stacked, h5.stacked {
	margin-bottom: 0.25em;
}

h1 {
	font-size: 2.5em;
	color: #d31145;
}

h2 {
	font-size: 34px;
	color: #2aa097;
}

h3 {
	font-size:1.5em;
  font-weight: 500;
	color: #d30f45;
}

h3.grey {
	color: #4d4d4d;
}

h4 {
	font-size: 18px;
	color: #4d4d4d;
	text-transform: uppercase;
}

p {

}

p.intro {
	font-size: 21px;
}

p.callout {
	display:inline-block;
	border-left: 8px solid #bebebe;
	padding: 1em 0 1em 1em;
	padding-left:1em;
	margin-bottom:1em;
	font-size: 24px;
	color: #d31145;

}

p.callout-plain {
	text-align: center;
	font-size: 30px;
}

p.callout-section {
	padding: 28px;
	margin-bottom: 1em;
}

p.callout-section-1 {
	background-color: #f3f1ed;
}

p.callout-section-2 {
	background-color: #f8f8f8;
}

p.disclaimer {
	font-size: 11px;
}

a.button-1, a.button-2 {
	display: inline-block;
	font-size: 1.2857em;
	color: #ffffff;
	height: 4em;
	padding: 1.3em 2.57142em 0em;
	-webkit-border-radius: 2.07142em;
	-moz-border-radius: 2.07142em;
	-o-border-radius: 2.07142em;
	border-radius: 2.07142em;
	cursor: pointer;
	text-transform: uppercase;
}

a.button-1  {
	background-color: #d31145;
}

a.button-1:hover {
	background-color: #b40e3b;
}

a.button-2  {
	background-color: #68c8c6;
}

a.button-2:hover {
	background-color: #5db4b2;
}

a.button-3 {
	display: inline-block;
	font-size: 18px;
	color: #4d4d4d;
	height: 44px;
	border: 1px solid #4d4d4d;
	padding: 10px 33px 0px;
	cursor: pointer;
	text-transform: uppercase;
}

a.button-3:hover {
	background-color: #e5e5e5;
}

hr {
	/* ALREADY DEFINED ABOVE */
}

.centered {
	text-align: center;
}

input[type=text], input[type=email], textarea {
	font-size: 16px;
	-webkit-border-radius: 5x;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
}

textarea {
	padding: 9px;
}

input[type=text], input[type=email] {

}

#sidebar-menu {
	position: fixed;
    display: none;
    background-color: #d31145;
    display: none;
    z-index: 1;
}

.slideout-menu {
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.ie8 #sidebar-menu {
	right: 0;
	top: 0;
	width: 256px;
	height: 100%;
}

.slideout-panel {
    position:relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

#sidebar-menu {
    display: none;
}

#sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-menu ul li {
    position: relative;
    list-style: none;
}

#sidebar-menu ul li > a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 14px 24px;
}

#sidebar-menu ul li.first > a {
    /*border-top: 1px solid #85e8ad;*/
}

#sidebar-menu ul li > a:hover {
    background-color: #980d32;
}

#sidebar-menu > ul > li > div.mobilearrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    z-index: 100;
}

#sidebar-menu > ul > li > div.mobilearrow > a {
    display: block;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    background-image: url('images/nav-dd.png');
    background-size: 45px 45px;
}

.ie8 #sidebar-menu > ul > li > div.mobilearrow > a {
	background-image: url('images/nav-dd-ie8.png');
}

#sidebar-menu > ul > li > div.dropdown {
    position: relative;
    overflow: hidden;
    height: 0px;
}

#sidebar-menu > ul > li > div.dropdown > ul {
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu > ul > li > div.dropdown > ul > li {
    list-style: none;
}

#sidebar-menu > ul > li > div.dropdown > ul > li > a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid #ffffff;
    padding: 14px 0 14px 32px;
    font-size: 0.833em;
}

#sidebar-menu > ul > li > div.dropdown > ul > li > a:hover {
    background-color: #980d32;
    color: #ffffff;
}

#panel {
	position: relative;
    background-color: #ffffff;
    width: 100%;
    min-height: 100%;
    height: 1px;
    z-index: 2;
}

.mobile {
	display: none;
}

.phone {
	display: none;
}

#header {
	position: relative;
	width: 100%;
	height: 97px;
	background-color: #c1c1c1;
}

#header-inner {
	position: fixed;
	width: 100%;
	height: 97px;
	background-color: #ffffff;
	z-index: 500;
}

.ie8 #header-inner {
	position: relative;
}

#header-inner .row {
	max-width: 1200px;
	margin: 0 auto;
}

#header-logo {
	float: left;
	width: 350px;
	height: 32px;
	margin-top: 28px;
}

#header-logo a {
	display: block;
	width: 350px;
	height: 32px;
	text-indent: -9999em;
	background-image: url('images/rbh_logo.png');
	background-repeat: no-repeat;
	background-size: 350px 32px;
}

.ie8 #header-logo a {
	background-image: url('images/rbh_logo_350x32.png');
}

.menu-item > a > span {
	display: none;
}

/* NAV */

#nav-clearer {
	display: none;
}

#nav-toggle {
	display: none;
	float: right;
	margin-right: -50px;
}

#nav-toggle a {
	display: block;
	width: 87px;
	height: 87px;
	text-indent: -9999px;
	background-color: #cd204a;
	background-image: url('images/hamburger-icon.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.nav {
    font-weight:400;
    margin: 29px 0 0 0;
    text-align: center;
    font-size: 1em;
    float: right;
}

.nav > ul {
    display: block;
    float: right;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav > ul > li {
    list-style: none;
    display: block;
    float: left;
}

.nav > ul > li > a {
    text-decoration: none;
    color: #4d4d4d;
    display: block;
    padding: 6px 20px;
    text-transform: uppercase;
}

.nav > ul > li.menu-item-4630 > a {
	border: 1px solid #4d4d4d;
	padding: 6px 15px;
	margin-left: 5px;
}

.nav > ul > li.menu-item-4630 > a:hover {
	background-color: #e5e5e5;
	color: #4d4d4d;
}

.nav > ul > li.selected > a {
    color: #DE6C27;
}

.nav > ul > li > a:hover, .nav > ul > li.hovered > a {
    color: #d31145;
}

.nav > ul > li > div.mobilearrow {
    display: none;
}

.nav > ul > li > div.dropdown {
    position: absolute;
    overflow: hidden;
    height: 0px;
    background-color: #ffffff;
    z-index: 99;
}

.nav > ul > li > div.dropdown > ul {
    display: block;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.nav > ul > li > div.dropdown > ul > li {
    list-style: none;
    text-align: left;
}


.nav > ul > li > div.dropdown > ul > li.indent {
	padding-left: 0;
}

.nav > ul > li > div.dropdown > ul > li > a {
    display: block;
    height: 26px;
    color: #4d4d4d;
    background-color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    padding: 4px 20px 0;
    letter-spacing: 1px;
    font-size: 14px;
}

.nav > ul > li > div.dropdown > ul > li.last > a {
    border-bottom: none;
}

.nav > ul > li > div.dropdown > ul > li > a:hover {
    background-color: #e1e1e1;
    color: #d31145;
}

.footer {
	background-color:#d31145;
}

.ie8 .footer {
	height: 240px;
}

.footer-inner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}

.footer-inner:before,
.footer-inner:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.footer-inner:after {
    clear: both;
}

.footer-left {
	width: 900px;
	float: left;
}

.footer-right {
	width: 300px;
	float: right;
}

.footer, .footer p {
	color: #ffffff;
}

.footer a {
	color: #ffffff;
}

.footer span.copyright {
	color: #f0acbe;
}

.footer-nav {
	margin-bottom: 58px;
}

.footer-nav ul {
	padding: 0;
	margin: 0;
}

.footer-nav ul li {
	display: inline-block;
	margin-right: 35px;
}

.footer-nav ul li div {
	display: none;
}

.footer-nav ul li a {
	text-transform: uppercase;
}

.footer-nav ul li.menu-item-4630 {
	display: none;
}

.footer-legal a {
	margin: 0 6px;
}

.footer-search {
	float: right;
	-webkit-border-radius: 5x;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	height: 46px;
	width: 267px;
	background-color: #ffffff;
	margin-bottom: 32px;
}

.footer-social:before,
.footer-social:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.footer-social:after {
    clear: both;
}

.searchBox input[type="search"] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	height: 46px;
	background-color: #ffffff;
}

.searchBox{
	background-color:#FFFFFF;
	width:100%;
	height: 46px;
	position: relative;
	display:inline-block;
}
 .searchIcon {
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 46px;
	width: 46px;
}

input.form-60 {
	width: 60%;
}

textarea.form-60 {
	width: 60%;
}

.container-standard {
	max-width: 1200px;
	margin: 0 auto;
}

.cstd-spaced {
	margin-bottom: 40px;
}

.greybox1 {
	background-color: #f3f1ed;
}

.inheritpadding {
	padding-left: 50px;
	padding-right: 50px;
}

.paddedtb {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media all and (max-width: 1300px) {
  	/* ENFORCE MARGINS OF 50px ON A SIDE */

  	#header-inner .row {
  		width: auto;
  		padding: 0 50px;
  	}

  	.footer-inner {
  		width: auto;
  		padding: 20px 50px;
  		overflow: hidden;
  	}

  	.footer-left {
  		float: none;
  		width: auto;
  		overflow: hidden;
  	}

  	.container-standard {
		padding: 0 50px;
	}

	.inheritpadding {

	}
}

@media all and (max-width: 1150px) {
	.footer-right {
		float: none;
		width: auto;
	}

	.footer-left {
		overflow: auto;
	}

	.footer-nav {
		margin-bottom: 0;
	}

	.footer-nav ul li {
		margin-right: 12px;
	}

	.socialRow {
		float: none;
		margin-bottom: 24px;
		width: auto;
	}

	.footer-search {
		float: none;
		margin-bottom: 24px;
	}
}

@media all and (max-width: 1046px) {
	#nav-toggle {
		display: block;
	}

	.nav {
		display: none;
	}
}

@media all and (max-width: 768px) {
	#header {
		height: 87px;
	}

	#header-inner {
		height: 87px;
	}
}

@media all and (max-width: 640px) {
    /* ENFORCE MARGINS OF 20px ON A SIDE */

    #header {
    	height: 68px;
    }

    #header-inner {
    	height: 68px;
    }

    #nav-toggle, #nav-toggle a {
    	width: 68px;
    	height: 68px;
    }

    #header-logo, #header-logo a {
    	width: 200px;
    	height: 18px;
    }

    #header-logo {
    	margin-top: 25px;
    	margin-left: 20px;
    }

    #header-logo a {
    	background-size: 200px 18px;
    }

    .ie8 #header-logo a {
    	background-image: url('images/rbh_logo_200x18.png');
    }

    .mobile {
    	display: inherit;
    }

    #header-inner .row {
  		padding: 0;
  	}

  	#nav-toggle {
		margin-right: 0;
	}

    .footer-inner {
    	padding: 20px;
    }

    .footer-legal a.footer-legal-first {
    	margin-left: 0;
    }

    .footer-search {
    	width: auto;
    }

    .container-standard {
		padding: 0 20px;
	}

	.inheritpadding {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media all and (max-width: 414px) {

	.phone {
		display: inherit;
	}

	#header {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 68px;
		background-color: #c1c1c1;
	}

	#header-inner {
		position: relative;
		width: 100%;
		height: auto;
		background-color: #ffffff;
		z-index: 1;
	}

	#nav-toggle {
		clear: right;
	}

	#nav-clearer {
		display: block;
	}

	.nav {
        display: block;
        padding-top: 0;
        float: none;
        overflow: hidden;
        height: 0;
        width: auto;
        background-color: #d31145;
        margin: 0;
        text-align: left;
    }

    .nav ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	}

	.nav ul li {
	    position: relative;
	    list-style: none;
	}

	.nav ul li > a {
	    display: block;
	    text-decoration: none;
	    color: #ffffff;
	    padding: 14px 24px;
	}

	.nav ul li.first > a {
	    /*border-top: 1px solid #85e8ad;*/
	}

	.nav ul li > a:hover {
	    background-color: #980d32;
	    color: #ffffff;
	}

	.nav > ul > li {
		float: none;
		border-bottom: 1px solid #ffffff;
	}

	.nav > ul > li > div.mobilearrow {
		display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 45px;
	    width: 45px;
	    z-index: 100;
	}

	.nav > ul > li > div.mobilearrow > a {
	    display: block;
	    width: 45px;
	    height: 45px;
	    text-indent: -9999px;
	    background-image: url('images/nav-dd.png');
	    background-size: 45px 45px;
	}

	.ie8 .nav > ul > li > div.mobilearrow > a {
		background-image: url('images/nav-dd-ie8.png');
	}

	.nav > ul > li > div.dropdown {
	    position: relative;
	    overflow: hidden;
	    height: 0px;
	}

	.nav > ul > li > div.dropdown > ul {
	    display: block;
	    width: 100%;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	}

	.nav > ul > li > div.dropdown > ul > li {
	    list-style: none;
	}

	.nav > ul > li > div.dropdown > ul > li > a {
	    display: block;
	    color: #ffffff;
	    text-decoration: none;
	    white-space: nowrap;
	    height: auto;
	    padding: 14px 0 14px 48px;
	    font-size: 0.833em;
	    background-color: #d31145;
	}

	.nav > ul > li > div.dropdown > ul > li > a:hover {
	    background-color: #980d32;
	    color: #ffffff;
	}

	.nav > ul > li.menu-item-4630 > a {
		border: none;
		padding: 14px 24px;
		margin-left: 0;
	}

	.nav > ul > li.menu-item-4630 > a:hover {
		background-color: #980d32;
		color: #ffffff;
	}

}
