

.svg-content {
	dis lay: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

svg {
	background: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

.swiffy > div {
	background: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

/* -------------------------------------*/
/* WHY RBH                              */
/* -------------------------------------*/

.whyRBH {
	position: relative;
	width: 100%;
}

.whyRBHblade {
	position: relative;
	width: 100%;
    padding:0px 8px;
}

.whyRBHblade h1, .whyRBHblade h2, .whyRBHblade h3,
.whyRBHblade h4, .whyRBHblade h5, .whyRBHblade p,
.whyRBHblade ul, .whyRBHblade img
{
	opacity:0.0;
	/*filter:alpha(opacity=0);*/ /* For IE8 and earlier */
}

.whyRBHgraphic img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.whyRBHbladeinner {
	position: relative;
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;

}

.bladewrapper {
zoom: 1;
position: relative;
overflow-x: hidden;
margin: 0 auto;
/* min-width: 100%; */
}

.whyRBHbladeinner h3 {
	color: #d31145;
	font-size: 1.6em;
	font-weight: 300;
}



.whyRBHbladeinner .whyRBHfootnote {
	font-size: 0.7em;
	color: #888680;
}

.whyRBHbladeinner p.btext {
	color: #d51e47;
}

.wrbhb-stats, .wrbhb-powerofhabit, .wrbhb-ourplatform {
	background-color: #e6e4df;
}

/* approach blade */
.wrbhb-approach div.column1 {
	position: relative;
	float: left;
	width: 55%;
	padding: 0;
	margin: 0;
}

.wrbhb-approach div.column2 {
	position: absolute;
	right: -9%;
	width: 53%;
	height: 100%;
	min-height: 100%;
}

.wrbhb-approach div.column2 img {
	position: absolute;
	bottom: 0px;
}

#swiffyGraphicWhyApproach {
	overflow: hidden;
}

#swiffyGraphicWhyApproach div {
	position: absolute;
}

/* stats blade */
.wrbhb-stats {
	background-color: #e6e4df;
}

.wrbhb-stats div {
	/*border: 1px solid #ff0000;*/
}

.wrbhb-stats div.column1 {
	position: absolute;
	float: left;
	width: 47%;
	height: 100%;
	min-height: 100%;
	margin: 10px auto;
	left:-5%;
}

.wrbhb-stats div.column1 div {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin:24px;
}

.wrbhb-stats div.column1 table {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.wrbhb-stats div.column1 table td {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.wrbhb-stats div.column1 img {
	position: relative;
	top: -24px;
}

.wrbhb-stats div.column2 {
	position: relative;
	float: right;
	width: 55%;
	padding: 24px;
}

.wrbhb-stats p.whyRBHfootnote {
	margin-top: 0.5em;
}

.whyRBHfootnote a{
color: #888680;
}

#swiffyGraphicWhyStats div {
	padding: 0;
	margin: 0;
}

/* why it works blade */

.wrbhb-whyitworks {
	padding-bottom: 2em;
}


.wrbhb-whyitworks div.column1 {
	position: relative;
	float: left;
	width: 65%;
    padding: 24px 0;
}


.wrbhb-whyitworks div.column2 {
	position: absolute;
	right: 24px;
	width: 30%;
	height: 100%;
	min-height: 100%;
	padding: 24px;

}

.wrbhb-whyitworks div.column2 table {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.wrbhb-whyitworks div.column2 table td {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.wrbhb-whyitworks div.swiffied {
	padding: 0 !important;
}

/* power of habit blade */



.wrbhb-powerofhabit div.column1 {
	position: relative;
	float: left;
	width: 35%;
	margin: 24px;
}

.wrbhb-powerofhabit div.column1 img {
	margin-top: -36px;
	margin-bottom: 16px;
}

.wrbhb-powerofhabit div.column2 {
	position: relative;
	float: right;
	width: 55%;
	padding: 24px;
}

.wrbhb-powerofhabit table, .wrbhb-powerofhabit table th, .wrbhb-powerofhabit table td {
	text-align: left;
}

.wrbhb-powerofhabit table {
	margin-bottom: 1.4em;
}

.whyRBHbladeinner p.wrbhb-powerofhabit-mistakes,
.whyRBHbladeinner p.wrbhb-powerofhabit-whatworks {
	display: block;
	width: 100%;
	height: 51px;
	font-size: 1.6em;
	font-weight: normal !important;
	padding: .5em 0 0 60px;
	margin: 0 0 0.7em;
}

.whyRBHbladeinner p.wrbhb-powerofhabit-mistakes {
	color: #543191;
	background: url('images/why_rb_images/whyrbh-gr-habit-x.png') no-repeat;
}

.whyRBHbladeinner p.wrbhb-powerofhabit-whatworks {
	color: #d31145;
	background: url('images/why_rb_images/whyrbh-gr-habit-check.png') no-repeat;
}

.wrbhb-powerofhabit ul {
	list-style: disc;
	padding: 0 2em 0 1.5em;
}

.wrbhb-powerofhabit ul li {
	list-style-type: disc;
	font-size: 1.3em;
	font-weight: normal !important;
	color: #565353;
}

/* tailored reward models blade */

.wrbhb-tailoredrewardmodels div.column1 {
	position: relative;
	float: left;
	width: 50%;
	padding: 24px 0;
	margin: 0;

}

.wrbhb-tailoredrewardmodels div.column2 {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	min-height: 100%;
	right:-5%;
}

.wrbhb-tailoredrewardmodels div.column2 img {
	position: absolute;
	bottom: 0px;
}

.wrbhb-tailoredrewardmodels div.swiffied {
	padding: 0 !important;
}

/* our platform blade */
.wrbhb-ourplatform {
	padding-bottom: 2em;
}

.wrbhb-ourplatform div.column1 {
	position: relative;
	float: left;
	width: 37.5%;
}

.wrbhb-ourplatform div.column1 img {
    margin:0;
    padding: 0;
}

.wrbhb-ourplatform div.column2 {
	position: relative;
	float: right;
	width: 60%;
	padding: 24px;
}

/* focus on results blade */
.wrbhb-focusonresults div.column1 {
	position: relative;
	float: left;
	width: 65%;
    padding: 24px 0px 0px 0px;
	margin: 0 1% 0 0;
}

.wrbhb-focusonresults ul {
	list-style: disc;
	padding: 0 2em 0 1.5em;
}

.wrbhb-focusonresults ul li {
	list-style-type: disc;
	font-weight: normal !important;
	color: #565353;
}

.wrbhb-focusonresults div.column2 {
	position: absolute;
	right: 0;
	width: 32%;
	padding: 24px 0;
}

.results-stories div.column1 {
	position: relative;
	float: left;
	width: 64%;
	padding: 24px;
	margin: 0 1% 0 0;
}

.results-stories div.column2 {
	position: absolute;
	right: 0;
	width: 35%;
	padding: 24px 24px 0 0;
}

.results-stories .see-more-results {
	display: block;
	width: 80%;
	height: 4em;
	background-color: #65c7c6;
}

.results-stories .see-more-results a {
	display: block;
	width: 100%;
	height: 4em;
	padding: 1.5em 0 0 1.5em;
	color: #ffffff;
	text-decoration: none;
}
.whyRBHbladeinner {
}

.whyRBHbladeinner h2, .whyRBHbladeinner h4 {
color: #d31145;
}

/* tooltip */
#whyRBHttip {
	position: absolute;
	left: -999px;
	top: 0;
	z-index: 100;
}

#whyRBHttipBody {
	position: absolute;
	left: 0;
	top: 0;
	padding: 28px;
	background-color: #f3f3f3;
	border: 3px solid #d31145;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 300px;
	z-index: 100;
}

#whyRBHttipH {
	font-weight: normal !important;
	font-size: 1.467em;
	color: #d31145;
	padding: 0;
	margin: 0 0 0.7em;
}

#whyRBHttipB {
	font-weight: normal !important;
	font-size: 1.067em;
	color: #555555;
	padding: 0;
	margin: 0 0 0.7em;
}

#whyRBHttipA {
	display: block;
	width: 80%;
	height: 44px;
	background-color: #65c7c6;
}

#whyRBHttipA a {
	display: block;
	width: 100%;
	height: 44px;
	background: url('images/why_rb_images/whyrbh-gr-tt-arrow.png') top right no-repeat;
	color: #ffffff;
	text-decoration: none;
	padding: 14px 0 0 16px;
}

#whyRBHttipArrow {
	position: absolute;
	width: 37px;
	height: 48px;
	background: url('images/why_rb_images/whyrbh-gr-tt-arrows.png') no-repeat;
	z-index: 101;
}

#whyRBHttipArrow.west {
	width: 37px;
	height: 48px;
	background-position-y: 0;
}

#whyRBHttipArrow.east {
	width: 37px;
	height: 48px;
	background-position-y: -48px;
}

#whyRBHttipArrow.north {
	width: 48px;
	height: 37px;
	background-position-y: -85px;
}

#whyRBHttipArrow.south {
	width: 48px;
	height: 37px;
	background-position-y: -122px;
}


/* VENN TOOLTIP */
#vennttip {
	position: absolute;
	left: -999px;
	top: 0;
	z-index: 100;
}

#vennttipBody {
	position: absolute;
	left: 0;
	top: 0;
	padding: 28px;
	background-color: #f3f3f3;
	border: 3px solid #d31145;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 300px;
	z-index: 100;
}

#vennttipH {
	font-weight: normal !important;
	font-size: 1.467em;
	color: #d31145;
	padding: 0;
	margin: 0 0 0.7em;
}

#vennttipB {
	font-weight: normal !important;
	font-size: 1.067em;
	color: #555555;
	padding: 0;
	margin: 0 0 0.7em;
}

#vennttipA {
	display: block;
	width: 80%;
	height: 44px;
	background-color: #65c7c6;
}

#vennttipA a {
	display: block;
	width: 100%;
	height: 44px;
	background: url('images/why_rb_images/whyrbh-gr-tt-arrow.png') top right no-repeat;
	color: #ffffff;
	text-decoration: none;
	padding: 14px 0 0 16px;
}

#vennttipArrow {
	position: absolute;
	width: 37px;
	height: 48px;
	background: url('images/why_rb_images/whyrbh-gr-tt-arrows.png') no-repeat;
	z-index: 101;
}

#vennttipArrow.west {
	width: 37px;
	height: 48px;
	background-position-y: 0;
}

#vennttipArrow.east {
	width: 37px;
	height: 48px;
	background-position-y: -48px;
}

#vennttipArrow.north {
	width: 48px;
	height: 37px;
	background-position-y: -85px;
}

#vennttipArrow.south {
	width: 48px;
	height: 37px;
	background-position-y: -122px;
}

.tooltipdata {
	display: none;
}

/* media queries */

@media all and (max-width: 960px) {

	.whyRBHbladeinner p.wrbhb-powerofhabit-mistakes,
	.whyRBHbladeinner p.wrbhb-powerofhabit-whatworks {
		font-size: 1.2em;
	}

	.see-more-results a {
		background: none;
	}
}

@media all and (max-width: 640px) {
	.wrbhb-approach div.column1 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px;
		margin: 0;
	}

	.wrbhb-approach div.column2 {
		position: relative;
		left: 0;
		width: auto;
		height: auto;
		min-height: 150px;
	}

	.wrbhb-approach div.column2 img {
		position: relative;
		bottom: 0px;
	}

	.wrbhb-stats div.column1 {
		position: relative;
		float: none;
		width: auto;
		height: auto;
		min-height: 100px;
		margin: 24px;
	}

	.wrbhb-stats div.column1 div {
		position: relative;
		width: auto;
		height: auto;
		min-height: 150px;
		margin: 24px 24px 0;
	}

	.wrbhb-stats div.column1 img {
		position: relative;
		top: 0;
	}

	.wrbhb-stats div.column2 {
		position: relative;
		float: none;
		width: auto;
		padding: 0 24px 24px;
	}

	.wrbhb-whyitworks div.column1 {
		position: relative;
		float: none;
		width: auto;
		margin: 24px;
	}

	.wrbhb-whyitworks div.column2 {
		position: relative;
		right: 0;
		width: auto;
		height: auto;
		min-height: 150px;
		padding: 24px;
		margin: 0 24px;
	}

	.wrbhb-powerofhabit div.column1 {
		position: relative;
		float: none;
		width: auto;
		margin: 24px;
	}

	.wrbhb-powerofhabit div.column2 {
		position: relative;
		float: none;
		width: auto;
		padding: 0 24px 24px;
	}

	.whyRBHbladeinner p.wrbhb-powerofhabit-mistakes,
	.whyRBHbladeinner p.wrbhb-powerofhabit-whatworks {
		background: none;
		padding-left: 0;
		height: auto;
		margin-bottom: 0;
	}

	.wrbhb-tailoredrewardmodels div.column1 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px;
		margin: 0;
	}

	.wrbhb-tailoredrewardmodels div.column2 {
		position: relative;
		right: 0;
		width: auto;
		height: auto;
		padding: 0 24px;
		min-height: 150px;
	}

	.wrbhb-tailoredrewardmodels div.column2 img {
		position: relative;
		bottom: 0px;
	}

	.wrbhb-ourplatform div.column1 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px 24px 0;
	}

	.wrbhb-ourplatform div.column1 img {
		margin-top: 0;
		margin-bottom: 0;
	}

	.wrbhb-ourplatform div.column2 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px;
	}

	.wrbhb-focusonresults div.columnA1 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px;
		margin: 0;
	}



	.wrbhb-focusonresults div.column2 {
		position: relative;
		width: auto;
		padding: 0 24px 24px 24px;
	}

	.wrbhb-focusonresults div.row2 {
		padding-top: 0;
	}

	.wrbhb-focusonresults div.row2 h2 {
		padding-left: 24px;
	}

	.wrbhb-focusonresults div.column1 {
		position: relative;
		float: none;
		width: auto;
		padding: 24px;
		margin: 0 1% 0 0;
	}

	.wrbhb-focusonresults div.column2 {
		position: relative;
		right: 0;
		width: auto;
		padding: 0 24px 24px;
	}

	.see-more-results a {
		background: url('images/why_rb_images/whyrbh-gr-moreresults.png') top right no-repeat !important;
	}
}
