
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

.clear {
clear:both;
display:block;
height:0;
overflow:hidden;
visibility:hidden;
width:0;
}
.clearfix:before, .clearfix:after, .row:before, .row:after, .tallRow:before, .tallRow:after, .container1200:before, .container1200:after, .container1000:before, .container1000:after {
    content:'.';
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}
.row:after, .tallRow:after,.clearfix:after, .container1200:after, .container1000:after {clear:both;}
.row {margin-bottom:1em;min-height:0.5em;}
.tallRow {margin-bottom:1em;min-height:3em;}
/* For IE7. Move this to separate file when you notice some problems */
.row, .clearfix {zoom: 1;}
img, object, embed {max-width:100%;}
img {height:auto;}

/* *********************************************************************************************************************
 * Main container for all
 */

 .container1200{
    position:relative;
    max-width:1200px;
/*     overflow:hidden; */
}

.container1000, .container1200 {
	margin: 0 auto;
	padding: 0 .5em;
	/* padding:0; */
}

.container1200 {
	max-width: 1220px;
}

.container1000 {
	max-width: 1020px;
}

.row, .tallRow {
	clear: both;
	padding: 0 0px;
	margin:0;
}

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	/* overflow-x: hidden;  */
}

a {text-decoration:none;}

/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
	float: left;
	margin: 0 3% 0 0;
}

.percent42, .percent25, .percent24, .percent23, .percent22, .percent21, .percent20, .percent19, .percent18, .percent17, .percent16, .percent15, .percent14, .percent13, .percent12, .percent11, .percent10, .percent9 {
	float: left;
	margin: 0 ;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 , .percent42.last, .percent25.last, .percent24.last, .percent23.last, .percent22.last, .percent21.last, .percent20.last, .percent19.last, .percent18.last, .percent17.last, .percent16.last, .percent15.last,  .percent14.last, .percent13.last, .percent12.last, .percent11.last, .percent10.last, .percent9.last {
	margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

.percent42 {width:42%; height:100%;}
.percent25 {width:25%; height:100%;}
.percent24 {width:24%; height:100%;}
.percent23 {width:23%;height:100%;}
.percent22 {width:22%;height:100%;}
.percent21 {width:21%;height:100%;}
.percent20 {width:20%;height:100%;}
.percent19 {width: 19%;height:100%;}
.percent18 {width: 18%;height:100%;}
.percent17 {width: 17%;height:100%;}
.percent16 {width: 16%;height:100%;}
.percent15 {width: 15%;height:100%;}
.percent14 {width: 14%;height:100%;}
.percent13 {width: 13%;height:100%;}
.percent12 {width: 12%;height:100%;}
.percent11 {width: 11%;height:100%;}
.percent10 {width: 10%;height:100%;}
.percent9 {width: 9%;height:100%;}

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img , .percent25 img , .percent24 img , .percent23 img , .percent22 img , .percent21 img , .percent20 img , .percent19 img , .percent18 img , .percent17 img , .percent16 img , .percent15 img ,.percent14 img ,.percent13 img , .percent12 img , .percent11 img, .percent10 img, .percent9 img {
	max-width: 100%;
}



/* ********************************************************************************************************************* */

.clearfix:before, .clearfix:after,
.row:before, .row:after, .tallRow:before, .tallRow:after,
.container1200:before, .container1200:after, .container1000:before, .container1000:after {
    content:'.';
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
}


/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
	.container1000 {
		max-width: 1000px;
	}

	.container1000 .row, .container1000 .tallRow {
		padding: 0;
	}
}



/* *********************************************************************************************************************
 * Small devices
 */


@media all and (max-width: 768px) {

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .percent42, .percent25, .percent24, .percent23, .percent22, .percent21, .percent20, .percent19, .percent18, .percent17, .percent16, .percent15, .percent14, .percent13, .percent12, .percent11, .percent10, .percent9  {
		float: none;
		display:block;
		width: 100%;
	}


	.container1200 {
		margin: 0 auto;

	}
	.overlay{
	position:absolute;
	}
}
