/* <<<<<<<<<<<<<<<<<<< OVER 1700px >>>>>>>>>>>>>>>>>>> */
@media screen and (min-width: 1700px) {
	.contactBtnExtend {
		width:28%;
	}
	.contactBtnExtend2 {
		width:28%;
	}
}/*/mediaquery*/

/* <<<<<<<<<<<<<<<<<<< over 1200px >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 1200px) {
	.contactBtnFixed, .contactBtnExtend, .contactBtnExtend2 {
		width:20%;
	}
	.contactBtnExtendFooter {
		width:20%;
	}
	.aboutSideBar ul li {
		font-size: 1.2em;
/*		height:2.6em;*/
/*		margin-bottom:0.5em;*/
	}
}/*/mediaquery*/

/* <<<<<<<<<<<<<<<<<<< UNDER 1200px >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 1200px) {
	.contactBtnFixed, .contactBtnExtend {
		width:20%;
	}
	.contactBtnExtendFooter {
		width:20%;
	}
	.aboutSideBar ul li {
		font-size: 1.2em;
	}

}/*/mediaquery*/


/* <<<<<<<<<<<<<<<<<<< UNDER 1024px >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 1024px) {
	body {
  		/*font-size: 13px;*/
	}
	.mobileFooterWidth{
/*		height:5.3em;*/
	}

	#healthplanIconBig {
		background-image: url('images/healthplan_icon_med.png');
		width:40%;
	}
	#empoyersIconBig {
		background-image: url('images/employer_icon_med.png');
		width:40%;
	}
	#healthplanIconSmall {
		background-image: url('images/healthplan_icon_tiny.png');
	}
    #healthsystemIconSmall {
		background-image: url('images/healthsystem_icon_tiny.png');
	}
	#empoyersIconSmall {
		background-image: url('images/employer_icon_tiny.png');
	}
	.productBox, .rightBoxContents {
		height:9em;
	}
	.productBox .rightBoxContents h3 {
		font-size:1em;
	}
	.productBox #productIconBig {
		display:none;
	}
	.productBox #productIconMed{
		display:block;
		height:9em;
		width:9em;
	}
	.titleBoxSmall .centerText h1  {
		font-size:2.3em;
	}
    .logoBlock {
        padding-top: 5em;
    }


    .nav-menu li a {
        color: #4d4d4d;
        display: block;
        font-size: 110%;
    }
}/*/mediaquery*/

/* <<<<<<<<<<<<<<<<<<< UNDER 900px >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 900px) {

	#primary-menu {
    }
    .logoBlock {
        padding-top: 5em;
        margin-bottom: 10px;
    }
    .slideHeadline {
        top: .4em;
    }
    .slideText {
        top: 1.5em;
    }
    .slideButton {
        top: 2.0em;
    }
}/*/mediaquery*/

/* <<<<<<<<<<<<<<<<<<< UNDER 768px (MAIN MOBILE LAYOUT) >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 768px) {
	body {
  		/*font-size: 12px;*/
	}
    .wrapper {
    }
    .wp-caption {
        min-width: 60%;
        margin: 0 20%;
    }
    .post img {
        max-width: 45% !important;
    }

    .wp-caption img {
        max-width: 100% !important;
    }
		img.smartfill {
		  width: 66%;
		}
	.logoBlock {
		height:60px;
		width:100%;
		background-color: #fff;
		background-image: url('images/rbh_logo.png');
		background-position: center 60%;
		background-repeat: no-repeat;
		background-size: 50%;
		border-right: 0 none;
		z-index:1000;
	}
	.logoBlockIE8{
		height:60px;
		width:100%;
		background-color: #fff;
		border-right: 0 none;
		z-index:1000;
	}
    .menu-main-container {
    }
    ul.nav-menu {
        margin-top: 0;
        text-align: center;
    }
    .nav-menu li {
        display: inline-block;
    }
    .nav-menu li a {
        color: #4d4d4d;
        display: inline-block;
        text-align: left;
        font-size: 130%;
        margin-top: 10px;
        padding: 6px 8px ;
    }
    #primary-menu {
    }
    .sliderMain {
        height: 230px;
    }
    .sliderMain img {
        visibility: hidden;
    }
    .slideHeadline {
        width: 100%;
        font-size: 2.3em;
        top: .4em;
        left: 0;
        color: #05819d !important;
    }
    .slideText {
        width: 100%;
        left: 0;
        color: #000000 !important;
        top: 1.5em;
    }
    .slideButton {
        top: 2.0em;
        left: 0;
    }
	.btnLabel, .btnLabel, .btnLabel p {
		height: 50px;
		width:100%;
	}
	.searchBox {
	}
	.mobileFooterWidth{
		margin-top: 80px;
		padding: 0 15px 0 15px;
		width:100%;
		position:relative;
		display:block;
		height:auto;
	}
	.socialRow {
		width:auto;
		float:left;
	}
    .socialButtons .fbBtn{
		background-image: url('images/fb_icon_tiny.png');
	}
	.socialButtons .twitterBtn{
		background-image: url('images/twitter_icon_tiny.png');
	}
	.socialButtons .LinkedInBtn{
		background-image: url('images/linkedIn_icon_tiny.png');
	}
	.copyrights{
/*		width:40%;*/
		float:left;
		position:relative;
		text-align:right;
/*		margin-top:15px;*/
	}
    #TrusteHolder {
        width:15%;
        float:right;
        display:inline-block;
    }

	.footerCol{
		margin-top:0;
	}
	.footerColSection {
		margin:0;
		width:50%;
		float:left;
		padding-top:10px;
	}
	.footerSectionLink {
		padding-top:10px;
		margin-bottom: 5px;
	}
	.contactBtnFixed {
		width:100%;
	}
	.contactFlyOut{
		height:auto;
        padding-bottom: 10px;
	}
	.logoColorBar {
		display:none;
	}

	.footerBottom {
		height: auto;
	}
	.footerBottom .row {
		display:none;
	}
	.contactBtnFooter {
		width:100%;
	}
	.headerContainer{
		border-bottom: solid 2px #FFFFFF;
	}
	.mobileOnly {
		position:static;
		top:0;
		left:0;
	}
	.mobileHide{
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
   }
   .socialButtons .socialBtn{
		width:1.5em;
		height:1.5em;
		display:block;
		position:relative;
		float: left;
		margin: 0 0.5em 0.5em 0;
	}
	.fbBtn{
		background-image: url('images/fb_icon_tiny.png');
		float:left;
	}
	.tweetBtn{
		background-image: url('images/twitter_icon_tiny.png');
		float:left;
	}
    .LinkedInBtn{
		background-image: url('images/linkedIn_icon_tiny.png');
		float:left;
	}
	.careerLink {
		width:100%;
	}
    .titleBoxSmall .centerText h1  {
		font-size:1.8em;
	}
	.productBox, #productBoxList .productBox  {
		background-color: #FFFFFF;
		position: relative;
		height: 9em;
		margin: 2em 0 0 0;
	}
	.productBox .rightBoxContents {
		height:9em;
	}
	.productBox .rightBoxContents p {
		height:2.5em;
	}
	.productBox .rightBoxContents h3 {
		font-size:1.5em;
	}
	.productBox #productIconBig {
		display:none;
	}
	.productBox #productIconMed{
		display:block;
		height:9em;
		width:9em;
	}
	.employersBox, .plansBox, .healthPlansBox {
		height:10em;
		margin: 2em 0 0 0;
	}
	#healthplanIconBig {
		height:10em;
		width:10em;
		background-image: url('images/healthplan_icon_small.png');
	}
	#healthplanIconSmall {
		background-image: url('images/healthplan_icon_tiny.png');
	}
	#empoyersIconBig {
		height:10em;
		width:10em;
		background-image: url('images/employer_icon_small.png');
	}
	#empoyersIconSmall {
		background-image: url('images/employer_icon_tiny.png');
	}
	.employersBox .description p,  .plansBox .description p, .healthPlansBox .description p{
		height:3.7em;
		overflow:hidden;
	}
	.contactBtnBig .centerText br {
		display:inline;
	}
	.MoreBtn {
		width:auto;
		height:2em;
		display:inline-block;
		position:relative;
		bottom:0;
	}
	.MoreBtn .btnTab, .MoreBtnfull .btnTab{
		height:100%;
		width:2em;
		right:0;
		top:0;
		position:absolute;
		display:block;
		padding:0;
		background-image: url('images/right_arrow.png');
		background-position: center center;
		background-repeat: no-repeat;
	}
	.MoreBtn .centerText {
		display: table;
		height:2em;
		width:auto;
		margin-left: 0px;
		text-align:left;
	}
	.MoreBtn .centerText p{
		font-size:1em;
		width:auto;
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		color:#FFFFFF;
		padding-bottom:0;
	}


}/*/mediaquery*/

/* <<<<<<<<<<<<<<<<<<< UNDER 768px (MAIN MOBILE LAYOUT) >>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 480px) {
	.productBox {
		height: auto;
		background-image: url('../images/solutions/mobileitembg.gif') !important;
		background-repeat: repeat-y !important;
	}
}
