.wgi-page-header {
	background-color: #e6e4df;
	padding: 30px 0 0px;
}

.wgi-page-header p {
	font-size: 1.133333em;
}

.wgi-section {
	border-bottom: 8px solid #f3f3f3;
	margin-bottom: 37px;
        margin-top: 0px;
}

.hr {
	height: 8px;
	background-color: #f3f3f3;
}

.all-together {
    margin-top: 40px;
}

.cta-solutions {
    text-align: center;
    padding: 12px 15px 14px 15px;
    width: 140px;
}

#solutionsPopup h3 {
  font-size: 2.133333em;
}

.wgi-section-behavior {
    margin-bottom: 36px;
}

.wgib-col-A {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.wgib-col-B {
    float: left;
    width: 48%;
}

.wgib-title {
    display: block;
    height: 48px;
    font-size: 1.53333em;
    line-height: 48px;
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-bottom: 16px;
}

.wgib-x {
    color: #533091;
    background-image: url('images/icon-purple-x.png');
}

.wgib-check {
    color: #d71d48;
    background-image: url('images/icon-red-check.png');
}

.wgi-bullets ul {
    list-style-type: disc;
    list-style-position: inside;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1.2em;
    font-size: 1.3em;
    padding-left: 1.2em;
}

.wgi-bullets ul li {
    list-style-type: disc;
}

.wgi-bullets ol {
   list-style-type: decimal;
   list-style-position: inside;
}
.wgi-bullets ul ul, .wgi-bullets ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
.wgi-bullets  ol ol, .wgi-bullets ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}

.wgi-section-results {
    margin-top: 36px;
    margin-bottom: 10px;
}

.let-us-show-you {
    max-width: 860px;
    text-align: center;
    margin: 77px auto 57px;
}

.let-us-show-you h2 {
    font-size: 2.766667em;
    color: #d31145;
}

.let-us-show-you p {

    margin-bottom: 24px;
}

.lusy-radios {
    display: inline-block;
    margin: 0 auto 41px;
    white-space: nowrap;
    text-align: left;
    clear: both;
}

.lusy-radios > div {
    margin-bottom: 7px;
}

.lusy-radios label {
    font-size: 1.6em;
    color: #008575;
}

.lusy-radios label > div {
    position: relative;
    margin-right: 12px;
    top: -2px;
}
#contactformA, #contactformB, #contactformC {
    max-width: 440px;
    width: 100%;
    padding: 20px;
}

#contactformA h2, #contactformB h2, #contactformC h2 {
   font-size: 2.0em;
}
#contactformA p, #contactformB p, #contactformC p {
   font-size: 1.3em;
}
.cta-button input[type=button], .cta-button input[type=submit] {
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    background-color: #d31145;
    padding: 16px 33px 14px;
    font-weight: normal;
    -webkit-appearance: none;
    font-size: 1.2857em;
    color: #ffffff;
    height: 3.2em;
    -webkit-border-radius: 2.07142em;
    -moz-border-radius: 2.07142em;
    -o-border-radius: 2.07142em;
    border-radius: 2.07142em;
    cursor: pointer;
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

.footnotes {
    font-size: 0.71em;
    color: #898989;
    margin-bottom: 10px;
}

.footnotes sup, sup {
    font-size: 0.67em;
}


/* iCheck plugin Flat skin, green
----------------------------------- */
.icheckbox_flat-green,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url('images/icheck/green.png') no-repeat;
    border: none;
    cursor: pointer;
}

.iradio_flat-green {
    background-position: 0px 0;
}
    .iradio_flat-green.checked {
        background-position: -25px 0;
    }
    .iradio_flat-green.disabled {
        background-position: 0px 0;
        cursor: default;
    }
    .iradio_flat-green.checked.disabled {
        background-position: 0px 0;
    }

/* ENGAGEMENT */

#engagement {
  position: relative;
	min-height: 28em;
}

#engagementHOutline {
  display: none;
}

#engagementHInline {
  display: inherit;
}

#engagement-col-A {
  position: relative;
}

#engagement-col-B {
	position: absolute;
  bottom: 0;
  right: 0;
}
#engagementimage {
	position: relative;
}
#engagementpopout {
  display: none;
  position: absolute;
  top: 199px;
  width: 36em;
  height: 224px;
}

#engagementpopout > div.popout {
  display: none;
  padding: 19px 0 0 22px;
  width: 30em;
}

div.popout-fb {
}

#engagementimage {
  width: 100%;
  height: auto;
  max-width: 565px;
}

#engagementpopout > div.popout#engage-0 {
  display: inherit;
}

#engagementpopout h4 {
  font-size: 1.466667em;
  margin-bottom: 17px;
}

* #engagement ul {
    list-style-type: disc;
    list-style-position: inside;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1.2em;
    font-size: 1.133333em;
}

* #engagement ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

#engbg {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 464px;
  height: 194px;
}

#engbg img {
  width: 100%;
  height: auto;
}

/* VIDEO CTA */

.video-cta {
  clear: both;
  position: relative;
  padding: 0;
  margin: 0;
}

.video-cta-still-container {
  position: relative;
}

.video-cta-bg {
  width: 100%;
  height: auto;
}

.video-cta-bg img {
  width: 100%;
  height: auto;
}

.video-cta-playbutton {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.video-cta-playbutton a {
  position: relative;
  top: -42px;
  left: -42px;
  display: block;
  width: 84px;
  height: 84px;
}

.video-cta-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  z-index: 1;
  font-size: 16px;
}

.video-cta-text h1 {
  color: white;
  font-size: 2.625em;
  line-height: 0.97em;
  margin-bottom: 0.6em;
}

.video-cta-text h5 {
  color: white;
  font-size: 1em;
  margin-bottom: 1.25em;
}

.video-cta-link {
  font-size: 1.375em;
}

.success-slide-cta-link a:hover {
    text-decoration: none;
}
.success-slide-cta-file a:hover {
    text-decoration: none;
}

#success-stories:before {
  display: block;
  content: " ";
  margin-top: -105px;
  height: 105px;
  visibility: hidden;
}
#brings-it-all-together:before {
  display: block;
  content: " ";
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}
/* SUCCESS STORIES SLIDER */
.success-slide {
  position: relative;
  width: 900px;
  height: 456px;
  overflow: hidden;
}

.success-image img {
  width: 100%;
  height: auto;
}

.success-image {
  position: relative;
  left: 0;
  top: 0;
  display: block !important;
  z-index: 1;
}

.success-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 33%;
  color: #ffffff;
  z-index: 2;
}

.success-text h1, .success-text p {
    color: #ffffff;
}

.success-text a {
    color: #ffffff;
}

.success-text-left {
  left: 4.5%;
}

.success-text-right {
  left: auto;
  right: 4.5%;
}

.flexslider {
  margin-bottom: 0;
}

.flex-control-nav {
  bottom: 0;
}

.success-text h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.success-text p {
  margin: 0 0 0.6em;
}

.successs-slide-cta {
  font-size: 1.3em;
}

.success-slide-cta-file {
  display: table;
  min-height: 50px;
}

.success-slide-cta-file a {
  display: table-cell;
  min-height: 50px;
  vertical-align: middle;
  padding-right: 50px;
  background-image: url('images/clientpagesicon_pdf.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 0.3em;
}

.flexslider {
  overflow: hidden;
  border: none;
  border-radius: auto;
  box-shadow: none;
}

.flexslider .slides > li {
    -webkit-backface-visibility: visible;
}

.flex-direction-nav a {
  width: 34px;
  height: 71px;
  margin: -30px 0 0;
}

.flex-prev {
  text-indent: -9999em;
  background-image: url('images/clientpagesicons.png');
  background-position: -5px -145px;
}

.flex-next {
  text-indent: -9999em;
  font-size: 0;
  background-image: url('images/clientpagesicons.png');
  background-position: -5px -221px;
}

.flex-direction-nav a.flex-next:before, .flex-direction-nav a.flex-prev:before {
  content: '';
}

.flexslider:hover .flex-prev {
  left: 0;
}

.flexslider:hover .flex-next {
  right: 0;
}


.primary-color {
    background-color: #d31145;
}

.primary-text-color {
    color: #d31145;
}
.bar-button-color {
    background-color: #b11534;
}
.bar-button-text-color {
    color: #ffffff;
}

.m1-color {
    color: #d31145;
}
.m2-color {
    background-color: #d31145;
}

.secondary-color {
    color: #ffffff;
}

.video-cta-link {
    color: #d31145;
}

.success_cta_link {
    color: #ffffff;
}


.more-info-item-1 {
    background-color: #dce268;
}
.more-info-item-2 {
    background-color: #acd2e7;
}
.more-info-item-3 {
    background-color: #f7a537;
}

/* TABS */

.tabbed {
    margin-bottom: 15px;
}

.tabs-dropdown {
  display: none;
}

.tabs-nav ul li {
    float: left;
    margin-right: 3px;
}

.tabs-nav ul li a {
    display: block;
    color: #4d4d4d;
    font-size: 1.2em;
		text-transform: uppercase;
    background-color: #b2b1b1;
    padding: 0.5em 1em .266em;
    white-space: nowrap;
}

.tabs-nav ul li a.selected {
    background-color: #f3f3f3;
}

.tabs-content {
    background-color: #f3f3f3;
}

.tabs-content > div {
    padding: 2em;
}

.tabs-content > div p:last-child {
    padding-bottom: 0;
}

.tabs-content p {
    font-size: 1.1em;
}

/* ACCORDION */

.section-accordion {
  position: relative;
  width: 100%;
  height: 345px;
  margin-bottom: 10px;
  overflow: hidden;
}

#info-accordion {
  position: relative;
  width: 100%;
  height: 345px;
  overflow: hidden;
}

#info-accordion > li {
  position: absolute;
  display: block;
  overflow: hidden;
  height: 345px;
  width: 60px;
}

#info-accordion > li > div.ia-trigger {
  position: absolute;
  width: 60px;
  height: 345px;
  z-index: 2;
}

#info-accordion > li > div.ia-trigger > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: none;
}

#info-accordion > li > div.ia-content-outer {
  position: absolute;
  overflow: hidden;
  height: 345px;
  width: 500px;
  z-index: 1;
}

#info-accordion > li.blade0 > div.ia-trigger a,
#info-accordion > li.blade1 > div.ia-trigger a,
#info-accordion > li.blade2 > div.ia-trigger a,
#info-accordion > li.blade3 > div.ia-trigger a,
#info-accordion > li.blade4 > div.ia-trigger a,
#info-accordion > li.blade5 > div.ia-trigger a
{
  background-image: none;
}

#info-accordion div.ia-content-inner {
  position: absolute;
  top: 21px;
  left: 93px;
  height: 303px;
  padding-top: 40px;
}

#info-accordion div.ia-content-inner a {
    color: #000;
}
#info-accordion div.ia-content-inner p {
    font-size: 1.2em;
    color: #ffffff;
}

#info-accordion li.blade0 {
  background-color: #71c3bd;
  width: 500px;
}

#info-accordion li.blade1 {
  background-color: #d8c121;
}

#info-accordion li.blade2 {
  background-color: #e6772c;
}

#info-accordion li.blade3 {
  background-color: #006d8e;
}

#info-accordion li.blade4 {
  background-color: #6d9b36;
}

#info-accordion li.blade5 {
  background-color: #537669;
}

.ia-trigger img {
  width: 100%;
  height: auto;
}

/* SOLUTIONS POPUP INNER */

#solutionsPopup {
  background-color: #ffffff;
  max-width: 890px;
}

#solutionsPopup h3 {
  margin-bottom: 12px;
}

.solutionsPopupInner {
  padding: 50px 67px;
}

#solutionsPopup li {
  float: left;
  display: block;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
}

#solutionsPopup li a {
  display: block;
  height: 75px;
  background-color: #f3f3f3;
  background-image: url('images/wegetit/solutions-icons-75.png');
  background-repeat: no-repeat;
  font-size: 1.2em;
  color: #d31145;
  padding-left: 91px;
  padding-top: 30px;
}

#sp-healthassessment a {
  background-position: 0 0;
}

#sp-costtransparency a {
  background-position: 0 -75px;
}

#sp-biometricscreening a {
  background-position: 0 -150px;
}

#sp-programintegration a {
  background-position: 0 -225px;
}

#sp-healthadvising a {
  background-position: 0 -300px;
}

#sp-deviceandappint a {
  background-position: 0 -375px;
}

#sp-phonecoaching a {
  background-position: 0 -450px;
}

#sp-rewards a {
  background-position: 0 -525px;
}

#sp-multimodal a {
  background-position: 0 -600px;
}

#sp-communications a {
  background-position: 0 -675px;
}

#sp-tracker a {
  background-position: 0 -750px;
}

#sp-reporting a {
  background-position: 0 -825px;
}

#sp-challenges a {
  background-position: 0 -900px;
}

/* SELECT BOX */

/* Dropdown control */
.selectBox-dropdown {
    min-width: 280px;
    position: relative;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    color: #000;
    outline: none;
    vertical-align: middle;
    background: #f3f3f3;
    display: inline-block;
    cursor: default;
    padding-top: 16px;
}

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666;
}

.selectBox-dropdown.selectBox-menuShowing-bottom {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown.selectBox-menuShowing-top {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    padding: 2px 8px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 100%;
    background: url('images/wegetit/jquery.selectBox-arrow.gif') 50% center no-repeat;
    border-left: solid 1px #BBB;
}

/* Dropdown menu */
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    border: solid 1px #BBB; /* should be the same border width as .selectBox-dropdown */
    background: #FFF;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Inline control */
.selectBox-inline {
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666;
}

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
    list-style: none;
    display: block;
    cursor: default;
    padding: 0;
    margin: 0;
}

.selectBox-options.selectBox-options-top{
    border-bottom:none;
  margin-top:1px;
  -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.selectBox-options.selectBox-options-bottom{
  border-top:none;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.selectBox-options LI A {
    line-height: 1.5;
    /*padding: 0 .5em;*/
    white-space: nowrap;
    overflow: hidden;
    background: 6px center no-repeat;
    color: #000000;
    padding: 10px 0.5em;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEE;
}

.selectBox-options LI.selectBox-disabled A {
    color: #888;
    background-color: transparent;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    color: #666;
    background: #EEE;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 .3em;
    white-space: nowrap;
}

/* Disabled state */
.selectBox.selectBox-disabled {
    color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    opacity: .5;
    filter: alpha(opacity=50);
    border-color: #666;
}

.selectBox-inline.selectBox-disabled {
    color: #888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}


/****************************************************************
// MEDIA QUERIES
****************************************************************/

@media screen and (max-width: 1130px) {
  .wgib-col-A {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .wgib-col-B {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  #engagementHOutline {
    display: inherit;
  }

  #engagementHInline {
    display: none;
  }

  #engagement-col-A {
  }

  #engagement-col-B {

  }

  #engagementpopout {
    display: none;
    position: absolute;
    left: -446px;
    top: 199px;
    width: 30em;
    height: 224px;
    z-index: 1000;
}

#engagementpopout > div.popout {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0 0 14px;
  width: 30em;
  z-index: 2;
}

}

@media screen and (max-width: 768px) {
  #thinker-woman {
    display: none;
  }

  #engagement-col-A {
    position: relative;
    z-index: 4;
  }

  #engagement-col-B {
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 1;
  }

  #engagementimage {
    width: 60%;
    margin: 0 auto;
  }

  #behavior-left {
    margin-bottom: 30px;
  }

  .col12 {
    padding: 0 15px 0 15px;;
  }

  .wgib-col-container {
    padding-left: 40px;
  }

  .wgib-col-A {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .wgib-col-B {
    float: none;
    width: 100%;
  }

  .solutionsPopupInner {
    padding: 12px;
  }


  #solutionsPopup li {
    width: 100%;
  }

  .tabs-dropdown {
    display: inherit;
  }

  .tabs-nav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .wgib-col-A {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .wgib-col-B {
    float: none;
    width: 100%;
  }

  .wgib-col-container {
    padding-left: 0;
  }

  .wgib-title {
    display: block;
    height: 25px;
    font-size: 1.23333em;
    line-height: 30px;
    background-repeat: no-repeat;
    padding-left: 32px;
    margin-bottom: 16px;
  }

  .wgib-x {
      color: #533091;
      background-image: url('images/icon-purple-x-small.png');
  }

  .wgib-check {
      color: #d71d48;
      background-image: url('images/icon-red-check-small.png');
  }

  .lusy-radios label {
    font-size: 1em;
  }

  #solutionsPopup li a {
    display: block;
    height: 38px;
    background-color: #f3f3f3;
    background-image: url('images/wegetit/solutions-icons-38.png');
    background-repeat: no-repeat;
    font-size: 1.2em;
    color: #d31145;
    padding-left: 45px;
    padding-top: 13px;
  }

  #sp-healthassessment a {
    background-position: 0 0;
  }

  #sp-costtransparency a {
    background-position: 0 -37.5px;
  }

  #sp-biometricscreening a {
    background-position: 0 -75px;
  }

  #sp-programintegration a {
    background-position: 0 -114px;
  }

  #sp-healthadvising a {
    background-position: 0 -150px;
  }

  #sp-deviceandappint a {
    background-position: 0 -189px;
  }

  #sp-phonecoaching a {
    background-position: 0 -228px;
  }

  #sp-rewards a {
    background-position: 0 -267px;
  }

  #sp-multimodal a {
    background-position: 0 -305px;
  }

  #sp-communications a {
    background-position: 0 -342px;
  }

  #sp-tracker a {
    background-position: 0 -379px;
  }

  #sp-reporting a {
    background-position: 0 -416px;
  }

	#sp-challenges a {
		background-position: 0 -454px;
	}

  .section-accordion {
    height: auto;
    overflow: visible;
  }

  #info-accordion {
    height: auto;
    overflow: visible;
  }

  #info-accordion > li {
    width: 100%;
    height: 48px;
    position: relative;
  }

  #info-accordion > li.blade0 {
    width: 100%;
  }

  #info-accordion > li > div.ia-trigger a {
    background-repeat: no-repeat;
    background-size: 276px 48px;
  }

  #info-accordion > li.blade0 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-0-hz.png');
  }

  #info-accordion > li.blade1 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-1-hz.png');
  }

  #info-accordion > li.blade2 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-2-hz.png');
  }

  #info-accordion > li.blade3 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-3-hz.png');
  }

  #info-accordion > li.blade4 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-4-hz.png');
  }

  #info-accordion > li.blade5 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-5-hz.png');
  }

  #info-accordion > li > div.ia-trigger {
    position: relative;
    width: 100%;
    height: 48px;
  }

  #info-accordion > li > div.ia-trigger a {
    display: block;
    height: 48px;
  }

  .ia-trigger a img {
    display: none;
  }

  #info-accordion > li > div.ia-content-outer {
    position: relative;
    overflow:hidden;
    height: 100px;
    width: 100%;
  }

  #info-accordion div.ia-content-inner {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    padding-top: 10px;
  }

  #info-accordion div.ia-content-inner p {
    width: auto !important;
    padding: 0 1em;
    float: none;
    display: inherit;
  }

  #info-accordion div.ia-content-inner p img.alignright {
    float: none;
    display: block;
    margin: 16px auto 12px;
  }
}

@media screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  #info-accordion > li.blade0 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-0-hz_2x.png');
  }

  #info-accordion > li.blade1 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-1-hz_2x.png');
  }

  #info-accordion > li.blade2 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-2-hz_2x.png');
  }

  #info-accordion > li.blade3 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-3-hz_2x.png');
  }

  #info-accordion > li.blade4 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-4-hz_2x.png');
  }

  #info-accordion > li.blade5 > div.ia-trigger a {
    background-image: url('../images/wegetit/accordion-blade-5-hz_2x.png');
  }
}
