#home-slideshow {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 41.42%;
	background-color: #000000;
	margin-bottom: 50px;
	font-size: 14px;
	opacity: 0;
}

#home-slideshow-nav, #home-mobile-slideshow-nav {
	position: absolute;
	bottom: 33px;
	left: 50%;
}

#home-slideshow-nav ul li, #home-mobile-slideshow-nav ul li {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
}

#home-slideshow-nav ul li a, #home-mobile-slideshow-nav ul li a {
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	background-image: url('images/slideshow_dot.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 13px 13px;
	-ms-filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.ie8 #home-slideshow-nav ul li a {
	background-image: url('images/slideshow_dot-ie8.png');
}

#home-slideshow-nav ul li a:hover, #home-mobile-slideshow-nav ul li a:hover {
	-ms-filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1.0;
}

#home-slideshow-nav ul li a.selected, #home-mobile-slideshow-nav ul li a.selected {
	-ms-filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.home-slide {
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 41.42%;
	background-color: #000000;
	overflow: hidden;
	display: none;
}

.home-slide > img {
	width: 100%;
	height: auto;
}

.home-slide > a > img {
	width: 100%;
	height: auto;
}

/* MOBILE BILLBOARD */

#mobile-slideshow {
	display: none;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 102.9%;
	margin-bottom: 24px;
	background-color: #000000;
}

#mobile-slideshow div.mobile-home-slide {
	position: absolute;
	width: 100%;
	opacity: 0;
}

#mobile-slideshow div.mobile-home-slide img {
	position: absolute;
	width: 100%;
	height: auto;
}

.home-blurb {
	font-size: 1.75em;
	font-weight: 300;
	text-align: center;
	width: 68%;
	margin: 0 auto;
}

.ctype {
	cursor: pointer;
	border: 1px solid #ffffff;
}

.ctype:hover {
	border: 1px solid #333333;
}

.ctypedesc {
	padding: 14px 25px;
}

.ctypecta {
	position: absolute;
	color: #ffffff;
	background-color: #60c8c6;
	text-align: center;
	z-index: 2;
	width: 100%;
	padding: 14px 0;
	font-size: 18px;
	top: -80px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.ctypecta a {
	color: #ffffff;
	text-decoration: none;
}

.ctype:hover .ctypecta {
	top: 0;
}

.ctypeimg {
	overflow: hidden;
	position: relative;
}

.ctypeimg img {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
}

@media all and (max-width: 768px) {
	.ctype {
		margin-bottom: 20px;
		border: 1px solid #333333;
	}

	.ctype.last {
		margin-bottom: 0;
	}

	#mobile-slideshow {
		display: block;
	}

	#home-slideshow {
		display: none;
	}
}

@media all and (max-width: 640px) {
	.home-blurb {
		width: 100%;
		font-size: 20px;
	}
}
